<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/log_out">Log out</a>
        </li>
    </ul>
</div>
</nav>